html, body {
   margin: 0;
   padding: 0;
}

header {
  box-sizing: border-box;
  height: 5rem;
  background-color: #131316;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
}
