
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
   height: 100vh;
   font-family: 'Quicksand', sans-serif;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  height: 100%;
}

header {
  box-sizing: border-box;
  height: 5rem;
  background-color: #131316;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.info {
  background-color: #dfdfdf;
  padding: 2rem;
  width: 60%;
}

.infoForm {
  margin-top: 1rem;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

label {
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}

input {
  box-sizing: border-box;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

footer {
  box-sizing: border-box;
  height: 3rem;
  background-color: #131316;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p >  a {
  text-decoration: none;
  color: white;
}

footer > p > a:hover {
  text-decoration: underline;
}
